section .About {
  background: linear-gradient(
    180deg,
    rgba(236, 233, 250, 1) 0%,
    rgba(248, 248, 248, 1) 40%
  );
  margin: 0 auto;
}

.Container-about {
  margin: 100px;
}

.About-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.About-hero h1 {
  font-size: 140px;
  font-weight: 500;
  margin: 0;
}

.About-hero h3 {
  font-size: 30px;
}

.About-main {
  display: flex;
  justify-content: space-between;
  margin: 60px;
  gap: 60px;
}

.About-description,
.About-certificates {
  width: 50%;
}

.About-description h4,
.About-certificates h4 {
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin: 0;
}

.About-description p {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 2;
}

.Map {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.Map p,
.Map a {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 2;
  margin: 0;
}

.Map a {
  text-decoration: none;
  text-align: center;
}
