.About {
  background: linear-gradient(
    180deg,
    rgba(236, 233, 250, 1) 0%,
    rgba(221, 218, 242) 70%
  );
  margin: 0 auto;
  padding-top: 170px;
  min-height: 100vh;
  width: 100%;
}

.Container-about {
  padding-bottom: 100px;
}

.About-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  color: var(--text-color);
}

.About-hero h1 {
  font-size: clamp(80px, 10vw, 160px);
  font-weight: 500;
  margin: 0;
}

.About-hero h3 {
  font-size: clamp(20px, 3vw, 36px);
  text-align: center;
}

.About-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px 80px;
  gap: 40px;
}

.About-description,
.About-certificates {
  flex: 1 1 45%; /* Ajusta para caber em telas menores */
}

.About-description h4,
.About-certificates h4 {
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin: 0;
  color: var(--text-color);
}

.About-certificates-grid {
  max-height: 270px;
  overflow-y: auto;
}

.About-description p {
  font-size: clamp(16px, 2vw, 28px);
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 1.8;
  color: var(--text-color-secondary);
}

.Map {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.Map p,
.Map a {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 2;
  margin: 0;
}

.Map p {
  color: var(--text-color-secondary);
}

.Map a {
  text-decoration: none;
  text-align: center;
}

.About-process {
  text-align: center;
  padding: 50px;
  overflow: hidden; /* Evita rolagem inesperada */
  position: relative;
}

.About-process h4 {
  color: var(--text-color);
  font-size: clamp(30px, 5vw, 70px);
  font-weight: 500;
  letter-spacing: 1.5px;
  padding: 30px;
  margin: 0;
}

.About-process h5 {
  color: var(--text-color);
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin: 15px;
  padding: 0;
}

.About-process h6 {
  color: var(--text-color-secondary);
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin: 0;
  padding-bottom: 50px;
}

.About-process p {
  text-align: center;
  color: var(--text-color-secondary);
  font-size: clamp(16px, 2vw, 25px);
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

.Card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin: 40px;
}

.Card {
  width: 100%;
  max-width: 600px;
  height: 400px;
  background: rgba(255, 255, 255);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius: 20px;
}

.Card img {
  max-width: 100%;
  max-height: 300px;
}

.Progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background-color: var(--accent-color);
  transform-origin: 0%; /* A barra cresce da esquerda para a direita */
  z-index: 10;
  width: 100%; /* Largura total */
}

.Wrap-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.Wrap-content p {
  flex: 1;
  font-size: clamp(14px, 2vw, 16px);
  font-size: 23px;
}

.Transition-gradient {
  height: 100px; /* Altura do gradiente */
  background: linear-gradient(
    180deg,
    rgba(221, 218, 242, 1) 100%,
    rgba(236, 233, 250, 1) 80%,
    rgba(248, 248, 248, 1) 0%
  );
}

@media (max-width: 768px) {
  .About-main {
    flex-direction: column;
    gap: 20px;
  }

  .Card {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .Transition-gradient {
    height: 50px;
  }
}
