section .Contact {
background: linear-gradient(
    180deg,
    rgba(221, 218, 242, 1) 0%,
    rgba(248, 248, 248, 1) 100%
  );
  margin: 0 auto;
}

.Container-contact {
  text-align: center;
  padding: 50px;
  padding-bottom: 0;
}

.Container-contact h3 {
  font-size: 100px;
  color: var(--text-color);
  margin-bottom: 0;
}

.Info-contact {
  display: inline-flex;
  margin: 40px;
}

button.Info-button {
  background: rgba(255, 255, 255);
  padding: 15px 40px;
  border: none;
  color: var(--text-color-secondary);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 60px;
  box-shadow: 0 30px 50px rgba(55, 50, 68, 0.08);
  transition: 0.5s;
  position: relative;
  cursor: pointer;
}

button.Info-button:after {
  position: absolute;
  transition: 0.5s;
}

button.Info-button:hover {
  padding: 15px 45px;
  letter-spacing: 2px;
  background: rgba(240, 240, 240);
}

a .Info-link {
  text-decoration: none;
}

.Info-socials {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.Icon {
  font-size: 24px;
  color: var(--text-color-secondary);
  transition: color 0.3s;
}

.Icon:hover {
  color: var(--accent-color);
}
