.Contact {
  background: linear-gradient(
    180deg,
    rgba(221, 218, 242, 1) 0%,
    rgba(248, 248, 248, 1) 100%
  );
  margin: 0 auto;
}

.Container-contact {
  text-align: center;
  padding: clamp(30px, 5vw, 50px);
  padding-bottom: 0;
}

.Container-contact h3 {
  font-size: clamp(40px, 8vw, 100px);
  color: var(--text-color);
  margin-bottom: 0;
}

.Info-contact {
  margin: 40px 0;
}

.Info-link {
  font-size: clamp(16px, 2vw, 20px);
  color: var(--text-color-secondary);
  font-weight: 600;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 50px;
  background: rgba(255, 255, 255);
  box-shadow: 0 30px 50px rgba(55, 50, 68, 0.08);
  transition: 0.3s;
  display: inline-block;
}

.Info-link:hover {
  background: rgba(240, 240, 240);
  letter-spacing: 0.5px;
}

.Info-socials {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.Icon {
  font-size: clamp(25px, 2vw, 30px);
  color: var(--text-color-secondary);
  transition: color 0.3s;
}

.Icon:hover {
  color: var(--accent-color);
}