.CreativeHeader {
  background: rgba(248, 248, 248, 1);
  color: var(--text-color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Container-header {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(2rem, 5vw, 4rem);
}

.Text-header h4 {
  font-size: clamp(30px, 4vw, 45px);
  font-weight: 500;
}

.Text-header img {
  max-width: 100%;
}

.Text-header h3 {
  font-size: clamp(3.4rem, 11vw, 8.4rem);
  font-family: "Playwrite RO", cursive;
  font-weight: 500;
  line-height: 1.05;
  margin: 0;
}

.Button-header {
  margin-block: clamp(2rem, 6vw, 6rem);
}

.Button-header a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--text-color);
  border-radius: 50px;
  color: #3a3d53;;
  text-decoration: none;
  padding: 10px 30px;
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 500;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.Button-header a:hover {
  background: #3a3d53;;
  color: #fff;
}

@media (max-width: 768px) {
  .CreativeHeader {
    padding-block: 8vh;
  }

  .Text-header {
    gap: 10px;
  }

    .Text-header h3 {
    line-height: normal;
  }
}
