section .Hero {
  background: linear-gradient(
    180deg,
    rgba(248, 248, 248, 1) 60%,
    rgba(236, 233, 250, 1) 100%
  );

  margin: 0 auto;
  padding: 100px;
}

.Container-hero {
  margin: 0 100px;
}

.Content-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
}

.Content-icons i {
  font-size: 50px;
  color: #3a3d53;
  transition: transform 0.3s ease, color 0.3s ease;
}

.Content-icons i:hover {
  transform: scale(1.2);
  color: var(--accent-color);
}

.Container-intro {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 60px;
  align-items: center;
  padding: 0 70px;
}

.Container-intro h3 {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  font-weight: 400;
  color: var(--text-color-secondary);
  line-height: 1.8;
}

.Read-more {
  margin: 40px 0;
}

.Button-read {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  background: #3a3d53;
  color: rgba(255, 255, 255);
  cursor: pointer;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.Button-read .Read-icon {
  margin-left: 10px;
  font-size: 18px;
  transition: transform 0.3s ease;
}

.Button-read:hover {
  background: var(--accent-color);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
}

.Button-read:hover .Read-icon {
  transform: translateX(5px);
}

@media (max-width: 1024px) {
  .Container-hero {
    margin: 0 50px;
  }

  .Container-intro {
    gap: 40px;
  }

  .Container-intro h3 {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  section .Hero {
    padding: 50px 0;
  }

  .Container-hero {
    margin: 0 20px;
  }

  .Container-intro {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 30px;
    padding: 0;
  }

  .Content-icons {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .Container-intro h3 {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .Container-hero {
    padding: 20px;
  }

  .Container-intro {
    padding: 0;
  }

  .Container-intro h3 {
    font-size: 25px;
  }

  .Content-wrapper {
    right: 40px;
    padding: 40px;
  }

  .Image-wrapper img {
    opacity: 0.6;
  }

  .Work-block {
    grid-row-gap: 10px;
  }

  .Button-read {
    font-size: 12px;
    padding: 12px 24px;
  }

  .Live {
    font-size: 14px;
  }
}
