section .Hero {
  background-color: #f8f8f8;
  margin: 0 auto;
  padding: 100px;
}

.Container-hero {
  margin: 0 100px;
}

.Container-intro {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr;
  gap: 60px;
  align-items: center;
  padding: 0 70px;
}

.Container-intro p {
  text-align: center;
  font-size: 30px;
}

.Container-intro h3 {
  font-size: 30px;
  font-weight: 400;
  color: #3a3d53;
  line-height: 1.8;
}

.Read-more {
  display: inline-flex;
  align-items: center;
}

button.Button-read {
  background: transparent;
  padding: 12px 25px;
  border: 1px solid #3a3d53;
  color: #3a3d53;
  font-size: 16px;
  font-weight: 500;
  margin: 20px auto;
  border-radius: 60px;
  box-shadow: 0 30px 50px rgba(55, 50, 68, 0.08);
  position: relative;
  transition: 0.5s;
}

button.Button-read:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 12px;
  right: -5px;
  transition: 0.5s;
}

button.Button-read:hover {
  padding-right: 24px;
  padding-left: 14px;
}

button.Button-read:hover:after {
  opacity: 1;
  right: 10px;
}

.primary-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: transparent; /* Cor de fundo para o botão */
  color: #3a3d53;
  border: 2px solid black; /* Definição compacta da borda */
  border-style: dotted;
  width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
  text-decoration: none;
}

/* Efeito no hover */
.primary-button:hover {
  background-position: 100% 50%; /* Move o ícone para a direita */
  background-color: black; /* Altera o fundo no hover */
  color: white; /* Muda a cor do texto */
}
