section .Hero {
  background-color: orange;
  margin: 0 auto;
  padding: 100px;
}

.Container-hero {
  margin: 0 100px;
}

.Container-intro {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr;
  gap: 60px;
  align-items: center;
  padding: 0 70px;
}

.Container-intro p {
  text-align: center;
  font-size: 30px;
}

.Container-intro h3 {
  font-size: 30px;
  font-weight: 400;
  color: #3a3d53;
  line-height: 1.8;
}

.Read-more {
  display: inline-flex;
  align-items: center;
}

.Read-more a {
  text-decoration: none;
  position: relative;
  opacity: 0.7; /* Começa com opacidade menor */
  transition: top 0.3s ease, opacity 0.3s ease; /* Transições para o movimento e opacidade */
}

.Read-more p {
  font-size: 20px;
  font-weight: 600;
}

.Read-more a:hover {
  transform: scale(1.1) translate(6px, -1px);
  opacity: 1; /* Torna o link mais visível */
}


.Download-cv {
  position: relative;
  display: inline-block;
}

.Download-cv button {
  position: relative;
  background: blue;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 100px;
  cursor: pointer;
  overflow: hidden; /* Para esconder partes externas */
}

