.Container-home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(236, 233, 250, 1) 0%,
    rgba(248, 248, 248, 1) 40%
  );
}

.Container-wrapper {
  max-width: 1020px;
  margin: 0 auto;
}

.Intro h4,
.Main h1,
.Content h2 {
  color: var(--text-color);
}

.Intro h4 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.Main {
  display: flex;
  align-items: center;
  gap: 35px;
}

.Main h1,
.Content h2 {
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.Main h1 {
  font-size: 150px;
}

.Content h2 {
  font-size: 140px;
}

.Profile-img {
  max-width: 200px;
  max-height: 200px;
}