.RotatingText-container {
  font-size: 140px;
  margin: 50px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .RotatingText-container {
    font-size: 100px; /* Ajuste para telas grandes, mas menores que 1200px */
  }
}

@media screen and (max-width: 768px) {
  .RotatingText-container {
    font-size: 80px; /* Ajuste para tablets */
  }
}

@media screen and (max-width: 480px) {
  .RotatingText-container {
    font-size: 60px; /* Ajuste para celulares */
  }
}