.RotatingText-container {
  font-size: 140px;
  margin: 50px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .RotatingText-container {
    font-size: 100px;
  }
}

@media screen and (max-width: 768px) {
  .RotatingText-container {
    font-size: 80px;
  }
}

@media screen and (max-width: 480px) {
  .RotatingText-container {
    font-size: 60px;
  }
}