section .Work {
  background: linear-gradient(
    180deg,
    rgba(236, 233, 250, 1) 0%,
    rgba(221, 218, 242) 100%
  );
  margin: 0 auto;
  padding: 50px;
}

.Container-work {
  margin: 0 100px;
}

.Container-projects {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 70px;
  border-radius: 20px;
  overflow: hidden;
  gap: 200px;
}

.Container-project {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.ProjectCard {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Image-wrapper {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 20px;
}

.Image-wrapper img {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.033);
  width: 600px;
  height: 590px;
}

.Image-block {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.Image-wrapper:hover .Image-block {
  transform: scale(1.1);
}

.Content-wrapper {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255);
  border-radius: 20px;
  padding: 60px;
  z-index: 2;
  box-shadow: var(--box-shadow);
  width: 360px;
  height: 340px;
}

.Work-block {
  grid-row-gap: 5px;
  flex-direction: column;
  max-width: 270px;
  margin-left: auto;
  display: flex;
}

.Work-type-wrapper {
  opacity: 0.5;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 20px;
  margin-bottom: 100px;
  margin-left: 25px;
  display: flex;
  position: absolute;
  inset: auto auto 0% 0%;
  transform: rotate(-90deg);
}

.Thumbnail-category {
  flex: none;
  font-size: 20px;
}

.Thumbnail-link {
  display: flex;
  gap: 30px;
}

.Thumbnail-link a {
  text-decoration: none;
}

.Live,
.Work-block p {
  font-weight: 400;
}

.Live {
  font-size: 17px;
  padding: 10px 10px 10px 0;
  color: rgba(4, 4, 4);
}

.Work-block p {
  font-size: 16px;
  margin: 20px 0;
  line-height: 1.8;
  color: var(--text-color-secondary);
}

.Container-work h2,
.Content-wrapper h3 {
  font-weight: 500;
  color: var(--text-color);
}

.Container-work h2 {
  font-size: 60px;
  margin-bottom: 40px;
  padding-left: 65px;
}

.Content-wrapper h3 {
  font-size: 54px;
  margin: 10px 0;
}

@media (max-width: 1024px) {
  section .Work {
    padding: 0;
  }

  .Container-work {
    margin: 0 50px;
    padding: 20px;
  }

  .Container-projects {
    gap: 100px;
    padding: 50px;
  }

  .Content-wrapper {
    width: 300px;
    height: 300px;
    padding: 40px;
  }

  .Content-wrapper h3 {
    font-size: 36px;
  }

  .Image-wrapper img {
    width: 400px;
    height: 390px;
  }
}

@media (max-width: 768px) {
  .Container-work {
    margin: 0;
    padding: 20px;
  }

  .Container-projects {
    gap: 50px;
    padding: 10px;
  }

  .Container-project {
    display: flex;
    flex-direction: column;
  }

  .Content-wrapper {
    width: 50%;
    height: 50%;
  }

  .Image-wrapper {
    width: 100%;
    opacity: 0.8;
  }

  .Content-wrapper h3 {
    font-size: 28px;
  }

  .Container-work h2 {
    font-size: 40px;
    padding-left: 20px;
  }

  .Thumbnail-category {
    display: none;
  }
}

@media (max-width: 480px) {
  .Container-work {
    padding: 10px;
  }

  .Container-projects {
    gap: 30px;
    padding: 0;
  }

  .Container-project {
    flex-direction: column;
  }

  .Content-wrapper {
    width: 50%;
    height: 50%;
  }

  .Image-wrapper {
    width: 100%;
    opacity: 0.8;
  }

  .Work-block {
    grid-row-gap: 20px;
  }

  .Work-block p {
    font-size: 16px;
    margin: 0;
  }

  .Content-wrapper h3 {
    font-size: 20px;
  }

  .Container-work h2 {
    font-size: 30px;
    padding-left: 10px;
  }

  .Thumbnail-category {
    display: none; /* Esconde a categoria na versão mobile */
  }

  .Thumbnail-link {
    gap: 5px;
  }

  .Live {
    padding: 0;
    font-weight: 500;
  }
}
