section .Work {
  /* background-color: #DDDAF2; */
  background: linear-gradient(180deg, rgba(248, 248, 248, 1) 0%, rgba(221, 218, 242, 1) 100%);
  margin: 0 auto;
  padding: 50px;
}

.Container-work {
  margin: 0 100px;
}

.Container-projects {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px;
  border-radius: 20px;
  overflow: hidden;
  gap: 200px;
}

.Container-project {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.Image-wrapper {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 20px;
}

.Image-wrapper img {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.033);
  width: 600px;
  height: 590px;
}

.Image-block {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.Image-wrapper:hover .Image-block {
  transform: scale(1.1); /* Expande a imagem para 10% */
}

.Content-wrapper {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
  border-radius: 20px;
  padding: 60px;
  z-index: 2;
  box-shadow: -8px 10px 25px -12px rgba(0,0,0,0.62);
  width: 360px;
  height: 340px;
}

.Work-block {
  grid-row-gap: 5px;
  flex-direction: column;
  max-width: 270px;
  margin-left: auto;
  display: flex;
}

.Work-type-wrapper {
  opacity: 0.5;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 20px;
  margin-bottom: 100px;
  margin-left: 25px;
  display: flex;
  position: absolute;
  inset: auto auto 0% 0%;
  transform: rotate(-90deg);
}

.Thumbnail-category {
  flex: none;
  font-size: 20px;
}

.Thumbnail-link {
  display: flex;
  gap: 30px;
}

.Thumbnail-link a {
  text-decoration: none;
}

.Live {
  font-size: 17px;
  padding: 10px 10px 10px 0;
  font-weight: 400;
  color: #040404;
}

h2 {
  font-size: 60px;
  margin-bottom: 40px;
  font-weight: 500;
  padding-left: 65px;
}

h3 {
  font-size: 54px;
  margin: 10px 0;
  font-weight: 500;
}

p {
  font-size: 16px;
  margin: 20px 0;
  line-height: 1.8;
  font-weight: 400;
  color: #3a3d53;
}
