.Work {
  background: linear-gradient(
    180deg,
    rgba(236, 233, 250, 1) 0%,
    rgba(221, 218, 242) 100%
  );
  margin: 0 auto;
  padding: clamp(30px, 5vw, 50px);
}

.Container-work {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.Container-projects {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: clamp(30px, 5vw, 100px);
  border-radius: 20px;
  overflow: hidden;
  gap: clamp(50px, 10vw, 200px);
}

.Container-project {
  display: flex;
  justify-content: space-between;
  width: min(100%, 1200px);
  position: relative;
}

.ProjectCard {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Image-wrapper {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 20px;
}

.Image-wrapper img {
  width: 100%;
  height: auto;
}

.Content-wrapper {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255);
  border-radius: 20px;
  padding: 60px;
  z-index: 2;
  box-shadow: var(--box-shadow);
  width: clamp(280px, 40vw, 360px);
  height: clamp(260px, 40vw, 340px);
}

.Work-block {
  display: flex;
  gap: 5px;
  flex-direction: column;
  max-width: 270px;
  margin-left: auto;
}

.Work-type-wrapper {
  opacity: 0.5;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin-bottom: 120px;
  margin-left: 10px;
  display: flex;
  position: absolute;
  inset: auto auto 0% 0%;
  transform: rotate(-90deg);
}

.Thumbnail-category {
  font-size: clamp(16px, 2vw, 20px);
}

.Thumbnail-link {
  display: flex;
  gap: 30px;
}

.Thumbnail-link a {
  text-decoration: none;
}

.Live,
.Work-block p {
  font-weight: 400;
}

.Live {
  font-size: clamp(14px, 1.5vw, 17px);
  padding: 10px 10px 10px 0;
  color: rgba(4, 4, 4);
}

.Work-block p {
  font-size: clamp(14px, 1.5vw, 16px);
  margin: 20px 0;
  line-height: 1.8;
  color: var(--text-color-secondary);
}

.Container-work h2,
.Content-wrapper h3 {
  font-weight: 500;
  color: var(--text-color);
}

.Container-work h2 {
  font-size: clamp(30px, 6vw, 60px);
  margin-bottom: 40px;
  padding-left: 65px;
}

.Content-wrapper h3 {
  font-size: clamp(20px, 5vw, 54px);
  margin: 10px 0;
}

@media (max-width: 768px) {
  .Work {
    padding: 0;
  }

  .Container-work {
    padding: 20px;
    padding-bottom: 70px;
    margin: 0;
  }

  .Container-projects {
    gap: 100px;
    padding: 0;
  }

  .Container-project {
    flex-direction: column;
    align-items: center;
  }

  .Content-wrapper {
    width: 60%;
    height: auto;
    right: 40px;
    padding: 30px;
  }

  .Image-wrapper img {
    opacity: 0.8;
  }

  .Work-block {
    gap: 10px;
  }

  .Work-block p {
    margin: 0;
  }

  .Thumbnail-category {
    display: none;
  }

  .Thumbnail-link {
    gap: 10px;
  }

  .Live {
    padding: 0;
    font-weight: 500;
  }
}
